/*
CSS 
web o pagina: Insectos Palo en Vélez-Málaga
entorno: portal informativo y de adopcion
autor: Carlos Boni
fecha: 26 junio 2021
*/

@font-face {
  font-family: pangolin;
  src: url(Pangolin-Regular.ttf);
}

:root {
    --azulclaro: #e6f2ff;
  }

body {
  background-image: url("media/sustrato.png");
  background-repeat: repeat;
  background-color: black;
}

body,h1,h2,h3,h4,h5 {
  font-family: pangolin;
  font-size:1.1em;
}


.w3-half {background-color:black;}

.w3-half img{opacity: 0.6; margin-bottom: -6px; cursor: pointer;}
.w3-half img:hover{opacity: 1; transition: 0.3s;}
.w3-half video{opacity: 0.6; margin-bottom: -6px; cursor: pointer;}
.w3-half video:hover{opacity: 1; transition: 0.3s;}
video {width: 100%;}
.w3-third img{margin: 5px; cursor: pointer;}

#titulo {
  color: #ffe0b3;
  font-size: 4vw;
  text-shadow: 2px 2px 4px #000000;
}

#pie {
  color: #ffe0b3;
  font-size: 1.5vw;
  text-shadow: 2px 2px 4px #000000;
}

.whatsappContactar {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp {
  width:60px;
  height:60px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:48px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

a.whatsapp {
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
}


/* a.whatsapp {
  color: green;
  background-color: transparent;
  border-radius: 0px;
} */

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 40px;
  right: 10px;
  background-color:rgba(0,0,0,0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.w3-main.w3-content {
  margin-left: 3%;
  margin-right: 3%;
}


@media screen and (max-width:900px) {
  #WS-flotante {
    display:none;
  }
}

/* @media screen and (max-width:550px) {
  #titulo {
    display:none;
  }
}
 */
 
@media screen and (max-width:360px) {
  .text-block {
    display:none;
  }
}
